
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
/*index*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #18222d;
    font-family: 'Poppins', arial;
}

nav{
    height: 80px;
    background: #0767c7;
}
nav img{
    width: 150px;
    position: absolute;
    top: 5px;
    left: 4%;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: right;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url(./media/primerbg.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: rgb(254, 254, 255);
    text-align: center;
}

.line {
    width: 150px;
    height: 4px;
    background: blue;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*segunda section*/
section {
    position: relative;
    width: 100%;
    padding: 50px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image.image1 {         /*conf primera imagen*/
    width: 400px;
    height: 400px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.image.image2 {   /*conf segunda imagen*/
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

section h2{
    color: blue;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

section p{
    color: whitesmoke;
}
/*fin segunda section*/





/*tecera section*/
.tittle3{
    text-align: center;
    font-size: 4vmin;
    color: whitesmoke;
    margin-top: 60px;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.segunda .row{
    margin-top: 50px;
}

h3{
    font-size: 3vmin;
    color: whitesmoke;
    margin: 20px auto; /*centrar*/
}


.ctn2{
    padding: 15px 5px;
    padding-left: 5px;
    margin: 20px auto;
    background: blue;
    border-radius: 30px;
    color: #fdf8e2;
}

.segunda .ctn2{
    margin-top: 20px;
}



.imgz{
    display:flex;
    position:relative;
    margin:0px;
}

footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
    text-align: left;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 8px 8px;
}

 

  .copyright {
    padding: 4px 4px;
    background-color: #25262e;
  }

  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }


/*final de la tercera parte de la pagina*/
/* fin index*/




